<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel='stylesheet' href='/components/style.css'>
</head>
<body>
    <nav>
        <a href="/">Home </a>
        <a href="/services">Our services </a>
        <a href="/contact">Contact Us </a>
    </nav>
    <h1 class="services" color="gray">Our services<ul > 
        <li>Making websites</li>
        <li>Making web-applications</li>
        <li>Back-end</li>
        <li>Front-end</li>
    </ul></h1>
</body>
</html>