
body {
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    padding: 10px;
    display: block;
    justify-content: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 300px 10px 10px 300px;
}
